<div class="container-modal">

    <div class="container-title-modal">
        <h3>Datos del PEP</h3>
    </div>

    <div class="container-form d-flex flex-wrap">

        <div class="d-flex align-items-center col-lg-6 mb-0 px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Parentesco(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0">
                <form-input-select [extra_large]="true"
                                   [items]="list_relationship_type"
                                   [updateModelOnChange]="true"
                                   fieldCodigo="NCODIGO"
                                   fieldValor="SDESCRIPT"
                                   [(value)]="pep_data.relationship_type"
                                   [firstSelect]="true"></form-input-select>
                <!-- [items]="PARENTS" -->
            </div>
        </div>

        <!-- SOLO POR MOTIVOS DE GRILLAS NO TIENE UTILIDADN EN LA PLATAFORMA -->
        <div class="d-flex align-items-center col-lg-6  px-0"
             style="opacity: 0; visibility: hidden;">
            <div class="col-lg-4 px-0">
                <div>Block</div>
            </div>
            <div class="col-lg-8 px-0">
                <form-input-select [extra_large]="true"
                                   [default]="false"></form-input-select>
            </div>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Nombres(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="pep_data.names"></form-input-text>

            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Apellidos(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="pep_data.concat_last_names"></form-input-text>
            </div>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Tipo de documento(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0">
                <form-input-select [extra_large]="true"
                                   [items]="list_document_type"
                                   [firstSelect]="true"
                                   [updateModelOnChange]="true"
                                   fieldCodigo="Id"
                                   fieldValor="Name"
                                   [(value)]="pep_data.document_type"
                                   (onSelect)="changeDocumentType()"></form-input-select>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Número de documento(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="pep_data.document_number"
                [patternPrevent]="CONSTANTS.REGEX[pep_data.document_type?.Id]"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Fecha de nacimiento(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-date [(value)]="pep_data.birthday_date"></form-input-date>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Estado civil(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0">
                <form-input-select [items]="list_civilStatus"
                                   fieldCodigo="NCIVILSTA"
                                   fieldValor="SDESCRIPT"
                                   [updateModelOnChange]="true"
                                   [firstSelect]="true"
                                   [(value)]="pep_data.civil_status"
                                   [extra_large]="true"></form-input-select>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Nacionalidad(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0">
                <form-input-select [items]="list_nacionality"
                                   [firstSelect]="true"
                                   [updateModelOnChange]="true"
                                   fieldCodigo="NNATIONALITY"
                                   fieldValor="SDESCRIPT"
                                   [(value)]="pep_data.nationality"
                                   [extra_large]="true"></form-input-select>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Residencia(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0">
                <form-input-text [(value)]="pep_data.residence" maxCaracter="40"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-12 mb-0  px-0"
             style="padding-right: 14px !important;">
            <div class="col-lg-2 mb-0 px-0">
                <div>Dirección(*)</div>
            </div>
            <div class="col-lg-10 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="pep_data.address"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Condición PEP(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [disabled]="true"
                                 [(value)]="pep_data.pep_condition"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Origen de condición PEP(*)</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="pep_data.pep_condition_origin"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-12  px-0"
             style="margin-top: 10px;">
            <p class="col-lg-12 mb-1"
               style="background-color: #553d81;color: #fff; font-weight: bold;">DATOS DE LOS ÚLTIMOS 3 TRABAJOS</p>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Centro de trabajo</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="work.place_work"
                                 (keypress)="validarTextoKeyPress($event, '3')"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Tipo organización</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="work.name_type_organization"
                                 (keypress)="validarTextoKeyPress($event, '3')"></form-input-text>
            </div>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Cargo</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="work.position"
                                 (keypress)="validarTextoKeyPress($event, '3')"></form-input-text>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Código</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-text [(value)]="work.code_work"
                                 (keypress)="validarTextoKeyPress($event, '3')"
                                 [patternPrevent]="CONSTANTS.REGEX.HUNDREDS_NUMBER"></form-input-text>
            </div>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Fecha de inicio</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-date [(value)]="work.ini_date"></form-input-date>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Fecha de cese</div>
            </div>
            <div class="col-lg-8 mb-0 px-0"
                 style="margin-bottom: -8px !important;">
                <form-input-date [(value)]="work.fin_date"></form-input-date>
            </div>
        </div>


        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 mb-0 px-0">
                <div>Sueldo</div>
            </div>

            <div class="col-lg-8 row"
                 style="min-width: 72% !important;">
                <div class="col-lg-2 px-0">
                    <form-input-select [extra_large]="true"
                                       [(value)]="work.currency"
                                       [items]="TYPE_CURRENCY"
                                       fieldCodigo="id"
                                       fieldValor="value"
                                       [updateModelOnChange]="true"></form-input-select>
                </div>

                <div class="col-lg-10 pr-0">
                    <form-input-text [(value)]="work.salary"
                                     (valueChange)="changeStyleCredit2(work.salary)"
                                     [patternPrevent]="CONSTANTS.REGEX.HUNDREDS_NUMBER"></form-input-text>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center col-lg-6 mb-0  px-0">
            <div class="col-lg-4 px-0">
                <div></div>
            </div>
            <div class="col-lg-8 px-0"
                 style="display: flex;flex-direction: row; gap: 4px; justify-content: space-evenly;">
                <form-button label="Grabar"
                             btnClass="btn-primary-VI"
                             *ngIf="toggle_edit_work"
                             (click)="updateWork()"></form-button>
                <form-button label="Cancelar"
                             btnClass="btn-primary-VI"
                             *ngIf="toggle_edit_work"
                             (click)="cancelWork()"></form-button>
            </div>

        </div>



        <!-- SOLO POR MOTIVOS DE GRILLAS NO TIENE UTILIDADN EN LA PLATAFORMA -->
        <!-- <div class="d-flex align-items-center col-lg-6  px-0" style="opacity: 0; visibility: hidden;">
      <div class="col-lg-4 px-0">
        <div>Block</div>
      </div>
      <div class="col-lg-8 px-0">
        <form-input-select></form-input-select>
      </div>
    </div> -->

        <div class="d-flex align-items-center col-lg-12 mb-1 px-0">
            <form-button label="Agregar trabajo"
                         btnClass="btn-primary-VI"
                         *ngIf="toggle_add_work"
                         (click)="addWork()"></form-button>
            <!-- <form-button label="Grabar"
                         btnClass="btn-primary-VI"
                         *ngIf="toggle_edit_work"
                         (click)="updateWork()"></form-button> 
            <form-button label="Cancelar"
                         btnClass="btn-primary-VI"
                         *ngIf="toggle_edit_work"
                         (click)="cancelWork()"></form-button> -->

        </div>



        <div class="grid form-group col-lg-12 mb-3 px-0">
            <div class="table-responsive "
                 id="table-scroll"
                 style="margin-top: 9px;">
                <table class="table-u">
                    <thead class="grid-title">
                        <th class="grid-title-item">Id</th>
                        <th class="grid-title-item">Centro de trabajo</th>
                        <th class="grid-title-item">Tipo organización</th>
                        <th class="grid-title-item">Cargo</th>
                        <th class="grid-title-item">Código</th>
                        <th class="grid-title-item">Fecha de inicio</th>
                        <th class="grid-title-item">Fecha de cese</th>
                        <th class="grid-title-item">Sueldo</th>
                        <th class="grid-title-item">Acciones</th>
                    </thead>
                    <tbody style="text-transform: uppercase;">
                        <ng-container *ngIf="!work_list?.length">
                            <tr class="grid-body">
                                <td class="grid-body-item"
                                    colspan="12"
                                    style="text-align: center">
                                    No hay informacion para mostrar
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="!!work_list?.length">
                            <tr class="grid-body"
                                *ngFor="let item of work_list">
                                <td class="grid-title-item">{{ item.id }}</td>
                                <td class="grid-title-item">{{ item.place_work }}</td>
                                <td class="grid-title-item">
                                    {{ item.name_type_organization}}
                                </td>
                                <td class="grid-title-item">{{ item.position }}</td>
                                <td class="grid-title-item">
                                    {{ item.code_work}}
                                </td>

                                <td class="grid-title-item">
                                    {{ item.ini_date}}
                                </td>

                                <td class="grid-title-item">{{ item.fin_date }}</td>
                                <td class="grid-title-item">{{ item.desc_currency }}{{ item.salary }}</td>
                                <td>
                                    <div style="display: flex; justify-content: center; text-transform: capitalize;">
                                        <div class="p-2"
                                             (click)="editWork(item)">
                                            <i class="fa fa-edit"
                                               style=" margin-right: 2px; color: #553d81;"></i>
                                            <span>Editar</span>
                                        </div>

                                        <div class="p-2"
                                             (click)="deleteWork(item.id)">
                                            <i class="fa fa-trash"
                                               style=" margin-right: 2px; color:red"></i>
                                            <span>Eliminar</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center col-lg-12 mt-0 px-0">
            <form-button label="Guardar"
                         btnClass="btn-primary-VI"
                         (click)="SavePep()"></form-button>
            <form-button label="Cerrar"
                         btnClass="btn-primary-VI"
                         (click)="reference.close()"></form-button>
        </div>




    </div>

</div>