<div class="form-group row ">
    <div class="col-lg-3">
        <app-nav-menuprod></app-nav-menuprod>
    </div>

    <div class="col-lg-9 container">
        <div class="group1">
        <h2 class="title">
            Solicitud de suscripción
        </h2>
        <div class="d-flex flex-column align-items-end">
            <span>PRODUCTO: VIDA INVERSIÓN GLOBAL PROTECTA</span>
            <span>FECHA ACTUAL: {{current_day.toLocaleDateString('es-ES')}}</span>
        </div>
        </div>
        <panel-widget text_title="DATOS BÁSICOS"
                      style="background-origin: #553d81">
                      <div class="card-body">
                        <div class="sub-container">
                            <div class="grid">
                                <form-input-text 
                                class="grid-item-1"
                                text_label="RAMO:"
                                [(value)]="data.RAMO"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>      
                            <form-input-text 
                                text_label="PRODUCTO:"
                                class="grid-item-2"
                                [(value)]="data.PRODUCTO"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            [(value)]="data.NUMERO_POLIZA"
                                text_label="POLIZA:"
                                class="grid-item-3"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                        
                                text_label="VALOR CUOTA:"
                                class="grid-item-4"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            class="grid-item-5"
                                text_label="APORTE TOTAL:"
                                [(value)]="aporteFormat"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                                text_label="TIPO DE DOCUMENTO:"
                                [(value)]="data.TIPO_DOCUMENTO"
                                class="grid-item-6"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                                text_label="NUMERO DE DOCUMENTO:"
                                [(value)]="data.NUMERO_DOCUMENTO"
                                class="grid-item-7"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            class="grid-item-8"
                                text_label="NOMBRES:"
                                [(value)]="data.NOMBRE"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            class="grid-item-9"
                                text_label="APELLIDO PATERNO:"
                                [(value)]="data.APELLIDO_PATERNO"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            class="grid-item-10"
                                text_label="APELLIDO MATERNO:"
                                [(value)]="data.APELLIDO_MATERNO"
                                [onlyInput]="true"
                                [large]="true"
                                [disabled]="true"
                            ></form-input-text>
                            <form-input-text 
                            class="grid-item-11"
                                text_label="MONTO DE SUSCRIPCION:"
                                [(value)]="data.MONTO_SUSCRIPCION"
                                [onlyInput]="true"
                                [large]="true"
                                (input)="formatearNumeroConComas($event)" [(value)]="numeroConComas"
                            ></form-input-text>
                            <div class="grid-item-12">
                                <P>SCORE DEL INDICADOR:</P>
                            </div>
                            <form-button class="grid-item-13" label="Calcular"
                            btnClass="btn-primary-VI"
                            (onClick)="calculateRiskScoring()" *ngIf="profile_id ==192"
                            ></form-button>
                            
                            <div *ngIf="profile_id == 194" class="grid-item-13">
                                <P  class="text">{{scoring}}</P>
                            </div>

                            </div>
                            <div class="col-lg-3 mx-0 py-0">
                                <div class="sub-container1">
                                    <div>
                                        <h3 class="sub-title">Idecon</h3>
        
                                        <div class="label">
                                            <span class="item">Otras listas</span>
                                            <span class="item-response"> {{ idecon_contractor.otherList }} </span>
                                        </div>
        
                                        <div class="label">
                                            <span class="item">Es PEP</span>
                                            <span class="item-response"> {{ idecon_contractor.pep }} </span>
                                        </div>
        
                                        <div class="label">
                                            <span class="item">Tiene Familiar PEP</span>
                                            <span class="item-response"> {{ idecon_contractor.famPep }} </span>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="sub-title">WorldCheck</h3>
        
                                        <div class="label">
                                            <span class="item">Otras listas</span>
                                            <span class="item-response"> {{ world_check_contractor.otherList }} </span>
                                        </div>
        
                                        <div class="label">
                                            <span class="item">Es PEP</span>
                                            <span class="item-response"> {{ world_check_contractor.pep }} </span>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="sub-title">Experian</h3>
        
                                        <div class="label">
                                            <span class="item">Cliente Riesgoso</span>
                                            <span class="item-response"> {{ experian_contractor.riskClient }} </span>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
        </panel-widget>
        <panel-widget [hidden]="!IS_PEP" text_title="DATOS PEP"
                              style="background-origin: #553d81">
                                <div class="p-3">
                
                                    <div class="d-flex align-items-center my-3"
                                         style="color: #553d81; font-weight: bold;">
                                        <div class="col-lg-3">Ultimos 3 trabajos del contratante</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_work == 0">INCOMPLETO</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_work == 1">COMPLETO</div>
                                        <div class="col-lg-2">
                                            <form-button label="Registrar"
                                                         btnClass="btn-primary-VI"
                                                         (click)="openWorkModal()"
                                                         ></form-button>
                                        </div>
                                    </div>
                
                                    <div class="d-flex align-items-center my-3"
                                         style="color: #553d81; font-weight: bold;">
                                        <div class="col-lg-3">Bienes e Inmuebles:</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_properties == 0">INCOMPLETO</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_properties == 1">COMPLETO</div>
                                        <div class="col-lg-2">
                                            <form-button label="Registrar"
                                                         btnClass="btn-primary-VI"
                                                         (click)="openPropertyModal()"
                                                         ></form-button>
                                        </div>
                                    </div>
                

                                    <div class="d-flex align-items-center my-3"
                                         style="color: #553d81; font-weight: bold;">
                                        <div class="col-lg-3">Relación de Personas:</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_relationship == 0">INCOMPLETO</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_relationship == 1">COMPLETO</div>
                                        <div class="col-lg-2">
                                            <form-button label="Registrar"
                                                         btnClass="btn-primary-VI"
                                                         (click)="openRelationsModal()"
                                                         ></form-button>
                                        </div>
                                    </div>
                
                                    <div class="d-flex align-items-center my-3"
                                         style="color: #553d81; font-weight: bold;">
                                        <div class="col-lg-3">Declaración Jurada:</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_declaration == 0">INCOMPLETO</div>
                                        <div class="col-lg-2"
                                             *ngIf="value_declaration == 1">COMPLETO</div>
                                        <div class="col-lg-2">
                                            <form-button label="Registrar"
                                                         btnClass="btn-primary-VI"
                                                         (click)="openDeclarationModal()"
                                                         ></form-button>
                                        </div>
                                    </div>
                
                                </div>
                        
        </panel-widget>
 
        <div class="content-btn">
            <form-button label="Firma Electronica" *ngIf="profile_id == 192"
                         btnClass="btn-orange  text-nowrap" 
                         [slim]="true"></form-button>
            <form-button label="Firma manuscrita" *ngIf="profile_id == 192"
                         btnClass="btn-orange text-nowrap"
                         (click)="openFileModal()"
                         [slim]="true"
                         ></form-button>
            <form-button label="Aprobar" *ngIf="profile_id == 203"
                         btnClass="btn-orange  text-nowrap"  (onClick)="aprobadoPorCoordinador()"
                         [slim]="true"></form-button>
            <form-button label="Desaprobar" *ngIf="profile_id == 203"
                         btnClass="btn-orange text-nowrap"
                         (onClick)="rechazadoPorCoordinador()"
                         [slim]="true"
                         ></form-button>
            <form-button label="Aprobar" *ngIf="profile_id == 196"
                         btnClass="btn-orange  text-nowrap"  (onClick)="aprobadoPorGerente()"
                         [slim]="true"></form-button>
            <form-button label="Desaprobar" *ngIf="profile_id == 196"
                         btnClass="btn-orange text-nowrap"
                         (onClick)="rechazadoPorGerente()"
                         [slim]="true"
                         ></form-button>                             
        </div>
    </div>
</div>

<div [hidden]="!isLoading" class="loadingScreen">
    <div style="display: flex; height: 100%; width: 100%">
        <i style="margin: auto; font-size: 50px" class="fa fa-spinner fa-spin"></i>
    </div>
</div>